/* .box{
    height: 300px;
    width: 300px;
    background-color: blue;
    /* background: #fff; */

/* /* }  */
.box {
  /* align-content: center;  */
  font-size: large;
  margin: auto;
  display: block;
  text-align: center;
}
.gif {
  display: block;
  margin: 0 auto;
  padding-top: 100px;
  height: 200px;
  width: 200px;
  transition: width 2s, height 2s;
}
.gif:hover {
  width: 400px;
  height: 400px;
}
p {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input {
  border: 2px solid transparent;
  width: 15em;
  height: 2.5em;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: #ffd1da;
  border-radius: 10px;
  transition: all 0.5s;
  margin-bottom: 20px;
}

input:hover,
input:focus {
  border: 2px solid #4a9dec;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: rgb(255, 255, 255);
}

.button-1 {
  padding-top: 40px;
  background-color: #ea4c89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #f082ac;
}
